# Node modules
frontend/node_modules/
backend/node_modules/
frontend/dist/

# Environment files
frontend/.env
backend/.env
backend/db/.env

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Build files (optional, if using React build)
frontend/build/

backend/test.js
